@model IEnumerable<Blogging_Times.Data.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="get" action="~/Admin/Posts/index">
    <input type="text" name="startdate" class="datepicker" readonly value="@ViewBag.startdate"/>
    <input type="text" name="enddate" class="datepicker" readonly value="@ViewBag.enddate" />
    <input type="submit" value="Search" />
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostCategory.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTitle)
        </td>
        <td>
            @Html.Raw(item.PostDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
          $(".datepicker").datepicker({
              dateFormat: 'yy-mm-dd'
          });
      } );
    </script>    
}